body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.outerContainer {
  position: relative;
  /* background-color: green; */
  width: 100vw;
  height: 100vh;
}

.innerContainer {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.tile {
  min-height: 5px;
  padding: 5px;
  margin: 5px;
  height: 80px;
  width: 80px;
  float: left;
  text-align: center;
}

.tile.header {
  background: #e49696;
}

.tile.red {
  background: #d84444;
}

.tile.voltorb {
  background-image: url('../img/voltorb2Resize.png');
}

.tile .tileRow {
  min-height: 30%;
}
.tileCol {
  min-width: 1px;
  min-height: 1px;
  padding: 0px;
}
.tileCol.right {
  float: right;
}
.tileCol.left {
  float: left;
}
