body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.tile {
  min-height: 5px;
  padding: 5px;
  margin: 5px;
  height: 80px;
  width: 80px;
  float: left;
  text-align: center;
}

.tile.header {
  background: #e49696;
}

.tile.red {
  background: #d84444;
}

.tile.voltorb {
  background-image: url('../img/voltorb2Resize.png');
}

.tile .tileRow {
  min-height: 30%;
}
.tileCol {
  min-width: 1px;
  min-height: 1px;
  padding: 0px;
}
.tileCol.right {
  float: right;
}
.tileCol.left {
  float: left;
}
