body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.tile {
  padding: 5px;
  margin: 5px;
  height: 80px;
  width: 80px;
  float: left;
  text-align: center;
}

.tile.red {
  background: #d84444;
}

.tile.voltorb {
  background-image: url('./img/voltorb2Resize.png');
}
